Package: com.yourcompany.testbackboarddhooking
Name: testbackboarddhooking
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: KK
Author: KK
Section: Tweaks
